body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

#map {
  height: calc(100vh - 50px); /* hace visible el mapa debajo de los filtros */
  width: 100%;
}

.filters {
  display: flex;
  gap: 8px;
  padding: 10px;
  background: #f9f9f9;
  position: sticky;
  top: 0;
  z-index: 999;
}
